
.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background: linear-gradient(135deg, #0C91E5, #22DFFA);
}

.todolist-container {
    max-width: 600px;
    width: 100%;
    padding: 20px 30px;
    background: radial-gradient(at left top, #015B94, #013C44);
    border-radius: 10px;
}

.todo-title {
    font-size: 20px;
    color: white;
}

.todo-input-container {
    padding: 15px;
    background-color:  #5f7579;
    border-radius: 8px;
}

.form-input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
}

.todo-btn {
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 20px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

textarea.form-input {
    resize: none;
}

.todo-btn:hover {
    background-color: #000000;
}

.todo-lists { color: #fff; border: 1px solid gray; padding: 20px; border-radius: 8px; }

